.fixed{
	    position: relative;
	    width: 80%;
		height: 1000px;
		margin-left: 10%;
		background-color: white;
		
		
	}

	.cuadro1{
		width: 100%;
		height:250px;
		margin-top: -15px;
		background-image: url("images/bg.jpeg");
	}

	li { 
	list-style: none;
	font-size: 10px;
	color: white;
	float: right;
	padding: 25px;
	margin-right: 50px;
	 }

	 img{
	 	float: left;
	 	width: 100px;
		height: 30px;
		margin-left: 100px;
		margin-top: 25px;
	 }

	 .clear {
	 	clear: both;
	 }

	h1 {
			color: white;
			text-align: center;
			font-size: 25px;
			font-family: 'Roboto', sans-serif;
			margin-left: 200px;
			margin-right: 200px;
			margin-top: 30px;

		}

		h3 {
			color: white;
			text-align: center;
			font-size: 10px;
			font-family: 'Roboto', sans-serif;
		    margin-top: 50px;
		    margin-left: 100px;
		    margin-right: 100px;
		}

		.cuadro2 {

			width: 35%;
		    height: 250px;
		    background-image: url("images/una.jpg");
		    margin-top: 50px;
		    margin-left: 300px;
		    margin-right: 0px;
		    margin-bottom: 50px;
		}

		h2 {
			color: black;
			text-align: center;
			font-size: 10px;
			font-family: 'Roboto', sans-serif;
			margin-left: 100px;
		    margin-right: 100px;
		    margin-top: 50px;
			
		}

		p { color: white;
			text-align: center;
			font-size: 8px;
			font-family: 'Roboto', sans-serif; 
		    margin-left: 50px;
		    margin-right: 50px;
		    margin-top: 150px;
		}

		.cuadro3 {

		width: 100%;
		height: 150px;
		margin-top: 0px;
		background-color: white;
		}

		h4 {
			color: black;
			text-align: center;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			margin-left: 100px;
		    margin-right: 100px;
		    margin-top: 0px;
		}


		.cuadro4 {

		width: 100%;
		height: 150px;
		margin-top: 0px;
		background-color: white;
		}

       h5{
		color: black;
			text-align: center;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
			margin-left: 100px;
		    margin-right: 100px;
		    margin-top: 0px;

}		
.cuadro5 {

		width: 100%;
		height: 50px;
		margin-top: 0px;
		background-color: black;
		}
		 h6{
		 	color: white;
			text-align: left;
			font-size: 10px;
			font-family: 'Roboto', sans-serif;
		    margin-top: 0px;

		 }